html, body {
    height: 100%;
    width: 100%;
    background: url('./images/City.jpg') center no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

 h1,
 h2 {
    color:whitesmoke;
    text-align: center;
    font-family: sans-serif;
 }

 #head {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: sans-serif;
 }

 #head1 {
    display: flex;
    flex: 1;
    padding-left: 100px;
    color: orangered;
    font-weight: bolder;
    font-size: x-large;
 }

 #head2 {
    display: flex;
    flex: 1;
    color: orangered;
    font-weight: bolder;
    font-size: x-large;
    padding-left: 250px;
    flex-shrink: 0;
    flex-wrap: wrap;
    
 }

 #head3 {
    display: flex;
    flex: 1;
    color: orangered;
    font-weight: bolder;
    font-size: x-large;
    padding-left: 140px;
    flex-wrap: wrap;
    
 }

 #form p {
   font-weight: bolder;
 }

 .pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 165px;
    
 }
 
 #front {
    padding: 90px;
 }

 #form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    flex: 1;
    flex-shrink: 3;
    color: azure;
    align-items: center;
    background-color: rgb(41, 93, 93);
    padding: 30px;
    border-radius: 25px;
 }

 #submit {
    border-radius: 10px;
    background-color: tomato;
    color: white;
    padding: 5px;
 }

